.calculator {
  position: absolute;
  display: table;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table,
th,
td {
    font-size: 20px;
  vertical-align: auto;
  text-align: center;
  border: 5px solid gray;
  color: #69655b;
}
button {
  background: none;
  border: 5px solid gray;
  border-radius: 30%;
  font-size: 20px;
  cursor: pointer;
}
td {
  color: gray;
  text-decoration: wavy;
}
