.calculator {
  position: absolute;
  display: table;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}
table,
th,
td {
  font-size: 20px;
  vertical-align: auto;
  text-align: center;
  border: 5px solid rgb(171, 170, 170);
  color: rgb(103, 101, 101);
  text-decoration: wavy;
}
button {
  background: none;
  color: rgb(103, 101, 101);
  border: 5px solid gray;
  border-radius: 30%;
  font-size: 20px;
  cursor: pointer;
}
